<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>{% block TITLE %}Mostly Oxygen{% endblock TITLE %}</title>
        <link rel="stylesheet" href="/styles/simple.css">
        <link rel="stylesheet" href="/styles/pygments.css">
        <style>
            {% block STYLES %}{% endblock STYLES %}
        </style>
    </head>

    <body>
        <header>
            <nav>
                <a href="/">Home</a>
                <a href="/tags/">Tags</a>
                <a href="https://github.com/mostlyoxygen">Github</a>
            </nav>
            <h1>{% block PAGETITLE %}Mostly Oxygen{% endblock PAGETITLE %}</h1>
            {% block ADDITIONAL_HEADER %}{% endblock ADDITIONAL_HEADER %}
        </header>
        <main>
            {% block PAGECONTENT %}{% endblock PAGECONTENT %}
        </main>
        <footer>
            {% block FOOTER %}{% endblock FOOTER %}
            <section>
                <small>
                    Except where otherwise noted, content on this site
                    is licensed under a
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/">
                        Creative Commons Attribution-ShareAlike 4.0
                        International License
                    </a>.
                </small>
            </section>
        </footer>
    </body>
</html>